<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oauth2.authcenter.dao.PermissionDao">

    <resultMap id="permission" type="com.oauth2.authcenter.entity.Permission">
        <result column="scope" property="scope"/>
        <result column="authority" property="authority"/>
        <result column="alias" property="alias"/>
    </resultMap>

    <select id="getPermissionById" parameterType="int" resultMap="permission">
        SELECT scope,authority,alias FROM oauth_permission WHERE id = #{id};
    </select>

</mapper>