<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oauth2.authcenter.dao.UserDao">

    <resultMap id="user" type="com.oauth2.authcenter.entity.AuthUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="first_name" property="firstName"/>
        <result column="last_name" property="lastName"/>
        <result column="enabled" property="enabled"/>
        <result column="account_non_expired" property="accountNonExpired"/>
        <result column="credentials_non_expired" property="credentialsNonExpired"/>
        <result column="account_non_locked" property="accountNonLocked"/>
        <collection property="authorities" javaType="java.util.ArrayList" ofType="com.oauth2.authcenter.entity.Permission" column="id" select="getPermissions"/>
    </resultMap>
    <resultMap id="permission" type="com.oauth2.authcenter.entity.Permission">
        <result column="scope" property="scope"/>
        <result column="authority" property="authority"/>
        <result column="alias" property="alias"/>
    </resultMap>

    <select id="getUserByName" parameterType="java.lang.String" resultMap="user">
        SELECT id,username,password,email,first_name,last_name,enabled,account_non_expired,credentials_non_expired,account_non_locked FROM oauth_user WHERE username = #{username};
    </select>
    <select id="getPermissions" parameterType="int" resultMap="permission">
        SELECT scope,authority,alias FROM oauth_permission WHERE id = #{userId};
    </select>

</mapper>